*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 1100px;
  margin: 0;
  font-family: Raleway, sans-serif;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
.header {
  padding: 0 20px;
  display: flex;
  height: 400px;
  width: 100%;
  border-bottom: 10px solid black;
}
.header__container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  gap: 10px;

  width: 100%;
}
.header__heading {
  font-family: "GULAG", serif;

  font-size: 76px;
}
.logo {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  filter: grayscale(40%);
}
.header__links {
  position: fixed;
  right: 20px;
  top: 50px;
  border: solid black 1px;
}
.list__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "GULAG", serif;
  gap: 10px;
}
.list__link__logo {
  width: 20px;
  height: 20px;
}
.list__link {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
