*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 1100px;
  margin: 0;
  font-family: Raleway, sans-serif;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
.header {
  padding: 0 20px;
  display: flex;
  height: 400px;
  width: 100%;
  border-bottom: 10px solid black;
}
.header__container {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  gap: 10px;

  width: 100%;
}
.header__heading {
  font-family: "GULAG", serif;

  font-size: 76px;
}
.logo {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  filter: grayscale(40%);
}
.header__links {
  position: fixed;
  right: 20px;
  top: 50px;
}
.list__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "GULAG", serif;
  gap: 10px;
}
.list__link__logo {
  width: 20px;
  height: 20px;
}
.list__link {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
.list__link:hover{
    opacity: 0.8;
}

.main {
  flex-grow: 1;
  
  
}
.main__heading{
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 50px;
  justify-items: center;
  padding: 20px 0;
}

.card { background-color: rgb(249, 250, 243);
  display: flex;
  flex-direction: row-reverse;
  height: 400px;
  width: 400px;
  padding: 20px;
  border: solid black 1px;
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
  border-radius: 10px;
  gap: 10px;
  transition: all 0.2s linear;
}
.card:hover{
    scale: 1.1;
}
.card__image {
  width: 200px;
  height: 100%;
  border-radius: 10px;
  
  object-position: center;
  object-fit: cover;
}
.position__right{
    object-position: right;
}
